body {
	margin: 0;
	padding: 0;
	background: #DBC088;
	line-height: 1.75em;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 350;
	color: #000
}

h1, h2, h3 {
	margin: 0;
	margin-top: 5px;
	margin-bottom: 3px;
	padding: 0
}

p, ol, ul {
	margin-top: 0
}

a {
	color: #383326;
}

a:hover {
	color: #807457;
}

.container {
	width: 95%;
	overflow: hidden;
	margin: 0 auto;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
#header {
	position: relative;
	padding: 3em 0;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/
#logo {
	position: absolute;
	top: 1em;
	left: 0;
}

#logo img {
	vertical-align: text-bottom;
	margin-right: 10px;
}

#logo a {
	text-decoration: none;
	font-weight: 800;
	font-size: 3em;
	color: #fff;
}

#logo a:hover {
	text-decoration: none;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/
#menu {
	position: absolute;
	top: 2em;
	right: 0;
}

#menu ul {
	display: inline-block;
}

#menu li {
	display: block;
	float: left;
	text-align: center;
	margin-left: 5px;
}

#menu li a, #menu li span {
	padding: .7em 1.5em;
	text-decoration: none;
	color: #000;
}

#menu li:hover a, #menu li.active a, #menu li.active span {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	color: rgba(255, 255, 255, 0.8);
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/
#page {
	overflow: hidden;
	padding: 2em 0;
	background: #E3D0AA;
	border-top: 10px solid #D63E3E;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
#copyright {
	overflow: hidden;
	padding: 1em 0;
}

#copyright p {
	letter-spacing: .2em;
	text-align: center;
	text-transform: uppercase;
	font-size: .8em;
	color: rgba(255, 255, 255, 0.3);
}

#copyright a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
}

/*********************************************************************************/
/* FontAwesome                                                                   */
/*********************************************************************************/
i.fa.fa-check-circle, i.fa.fa-check-circle-o {
	color: green;
}
i.fa.fa-times-circle, i.fa.fa-times-circle-o {
	color: red;
}

/*********************************************************************************/
/* Tables                                                                        */
/*********************************************************************************/
table {
	border: 1px solid black;
	width: 100%;
	border-spacing: 0px;
	margin-bottom: 3px;
}
th:first-child, td:first-child {
	padding-left: 10px;
}
tr:nth-child(odd) {
	background: #eee;
}
tr:nth-child(even) {
	background: #fff;
}
table thead tr {
	font-size: 1.0em;
	text-align: left;
	background-color: #cccccc !important;
}

table.sortable thead tr th {
	cursor: pointer;
}
table.sortable thead tr th:after {
	font-family: FontAwesome;
	margin-left: 10px;
}
table.sortable thead tr th:after {
	content: "\f0dc";
}
table.sortable thead tr th.sorting-asc:after {
	content: "\f0de";
}
table.sortable thead tr th.sorting-desc:after {
	content: "\f0dd";
}

/*********************************************************************************/
/* Builders                                                                      */
/*********************************************************************************/
div.builder {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	display: inline-block;
	margin: 10px;
	padding: 10px;
	min-width: 270px;
}
div.builder .heading {
	font-weight: bold;
	font-size: 150%;
}
